<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Favorite List</title>
  <link href="../stylesheets/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<% include ../partials/navbar %> 
  </div>
    <div class="card-columns">
      <% games.forEach((game) => { %>
        <div class="card bg-success" style="width: 18rem;">
            <h2>Favourite</h2>
          <img class="card-img-top" src="<%- game.image %> " alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Title: <%- game.title %></h5>
            <p class="card-text">Description: <%- game.description %></p>
            <p class="card-text">yearReleased: <%- game.yearReleased %></p>
            <p class="card-text">playTime: <%- game.playTime %></p>
            <form class="card-group" action="/users/make-favorite/<%-game.title %>" METHOD="POST">
            <button type="submit" class="btn btn-primary">Favorite</button>
            </form>
            <form class="card-group" action="/users/un-make-favorite/<%-game.title %>" METHOD="POST">
              <button type="submit" class="btn btn-success">Un-Favorite</button>
            </form>
            <% if (findOutIfUserIsAdmin) { %>
              <form class="card-group" action="/users/remove-game/<%-game.title %>" METHOD="POST">
                <button type="submit" class="btn btn-warning">Delete from DB</button>
              </form>
            <% } %>
          </div>
        </div>
      <% }) %>

      </div>
      <% include ../partials/scripts.ejs %>
</body>
</html>